body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

#conteiner{
    
    width: max-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
}

.bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

