.progress-bar-feed{
    width: 100%;
}

.grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
}

.principal-catFeed{
    width: 85vw;
    height: fit-content;
    
}